#!/bin/sh
#
# $FreeBSD: release/10.0.0/usr/local/etc/rc.d/elasticsearch 258121 2015-01-14 13:14:33Z rumba $
#

#
# PROVIDE: elasticsearch
# REQUIRE: LOGIN cleanvar
# KEYWORDS: shutdown

#
# Add the following lines to rc.conf to enable elasticsearch:
# elasticsearch_enable:     Set to "NO" by default.
#                           Set to "YES" to enable elasticsearch
#
# elasticsearch_home:       Configure full path to elasticsearch dir.
# Default is set to "/opt/elasticsearch"
#
# elasticsearch_memory:     Set memory size of the application.
#                           The default is 512m for both min and max.
#                           To set it to other value enter "1g" for 1 gigabyte or more.
#
# elasticsearch_java:       Set to java path. The default is "/usr/local/openjdk7".

. /etc/rc.subr

name="elasticsearch"
rcvar="elasticsearch_enable"

load_rc_config ${name}

: ${elasticsearch_enable="NO"}
: ${elasticsearch_home="/opt/elasticsearch"}
: ${elasticsearch_memory="512m"}
: ${elasticsearch_java="/usr/local/openjdk7"}

pidfile="/var/run/elasticsearch.pid"
program_path="${elasticsearch_home}"
config_path="${program_path}/config"
command="${program_path}/bin/${name}"
required_files="${config_path}/${name}.yml"
start_precmd="elasticsearch_precmd"
#extra_commands="reload"
command_args="-d -p ${pidfile}"

java_home="${elasticsearch_java}"
procname="${java_home}/bin/java"
memory="4g"

elasticsearch_precmd() {

   if [ -z ${java_home} ] ; then
       echo "JAVA path incorrect. Exiting..."
       return 1
   else
       JAVA_HOME="${java_home}"
       ES_MIN_MEM=${memory}
       ES_MAX_MEM=${memory}
       export JAVA_HOME
       export ES_MIN_MEM
       export ES_MAX_MEM
   fi

}

load_rc_config $name
run_rc_command "$1"
